$cell-size: 75px;

$black: #000;
$white: #ffffff;
$gray1: #8a8a8a;
$gray2: #7a7a7a;
$gray3: #b5b7b6;
$cell1: #854803;
$cell2: #ffd9ad;
$cell3: #15de18;
$cell4: red;
$actchecker: #40ff00;
$hovchecker: yellow;



$bgimg: url("https://www.transparenttextures.com/patterns/checkered-light-emboss.png");
$wchecker: url("@img/game/white-checker.png");
$bchecker: url("@img/game/black-checker.png");
$wqueen: url("@img/game/white-queen.png");
$bqueen: url("@img/game/black-queen.png");
