<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/styles.min.css') }}">

        {% if title %}
            <title>{{ title }} - GAME</title>
        {% else %}
            <title>GAME</title>
        {% endif %}

    </head>

    <body>
        <header class="header">
            <div class="header_panel">

            </div>
        </header>
        {% block content %}
        {% endblock content %}

        <script type="module" src="{{ url_for('static', filename='scripts/js/scripts.js') }}"></script>
    </body>
</html>
