<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/styles.min.css') }}">

        {% if title %}
            <title>{{ title }} - GAME</title>
        {% else %}
            <title>GAME</title>
        {% endif %}

    </head>

    <body>
        <header class="header">
            <div class="header_panel">
                <nav class="nav">
                    <ul class="nav_list">
                        <li class="nav_item">
                            <a class="nav_link" href="{{ url_for('index') }}">HOME</a>
                        </li>
                        <li class="nav_item">
                            <a class="nav_link" href="{{ url_for('game') }}">GAME</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        {% block content %}
        {% endblock content %}

        <script type="module" src="{{ url_for('static', filename='scripts/js/scripts.js') }}"></script>
    </body>

</html>