{% extends "base.html" %}

{% block content %}

        <div class="container">
            <div class="shell {{ turned_class }}">
                <div class="waiting">
                    <p>waiting</p>
                    <p>for the</p>
                    <p>second player</p>
                </div>
                <div class="form_container form_container--choice_color">
                    <form action="" class="form form--choice_color" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.hidden(class='form_input form_input--hidden') }}

                        <p class="form_title form_title--choice_color">CHOICE COLOR</p>
                        <p class="form_item form_item--choice_color">
                            {{ form.white(class='form_submit form_submit--white') }}
                            {{ form.black(class='form_submit form_submit--black') }}
                        </p>
                    </form>
                </div>
                {% include "field/around_white.html" %}
                {% include "field/around_black.html" %}

                <div class="field">
                    {% include "field/board.html" %}
                </div>
            </div>
        </div>

{% endblock content %}