<div class="nav_list">
    <div class="nav_left">
        <div class="nav_item">
            <a href="{{url_for('index')}}" class="nav_link"">HOME</a>
        </div>
        <div class="nav_item">
            <a href="{{url_for('rooms')}}" class="nav_link">ROOMS</a>
        </div>
    </div>

    <div class="nav_right">
        {% if current_user.is_authenticated %}
            <div class="nav_item">
                <a href="{{url_for('logout')}}" class="nav_link">LOGOUT</a>
            </div>
        {% else %}
            <div class="nav_item">
                <a href="{{url_for('login')}}" class="nav_link">LOGIN</a>
            </div>
        {% endif %}
    </div>
</div>