.shell {
    position: relative;
    margin: 0 auto;
    height: $cell-size * 8 + 62px;
    width: $cell-size * 8 + 62px;

    &.turned {
        .around_white {
            display: none;
        }
        .around_black {
            display: block;
        }
        .field {
            transform: rotateZ(180deg);
            .queen {
                transform: rotateZ(180deg) rotateX(180deg);
            }
        }
    }
}

.around_black {
    display: none;
}

.waiting,  .winner_tablet{
    display: block;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 15;
    transform: translateX(-50%) translateY(-50%);

    border-radius: 10px;

    font-size: 25px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;

    background-color: $gray1;
    &.hidden {
        display: none;
    }
    &.visible {
        display: block;
    }
}

.bottom_border {
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
}

.top_border, .bottom_border{
    display: flex;
    justify-content: space-between;
    padding: 0 31px;
    height: 30px;
}

.left_border, .right_border {
    position: absolute;
    top: 31px;
}

.right_border {
    right: 0;
}

.letter {
    span {
        display: inline-block;
        width: $cell-size;

        text-align: center;
        font-size: 25px;
        line-height: 30px;
    }
}

.number {
    span {
        display: inline-block;
        width: 30px;

        text-align: center;
        font-size: 25px;
        line-height: 75px;
    }
}

.field {
    position: relative;
    margin: 0 auto;
    width: $cell-size * 8 + 2px;

    border: 1px solid black;
    transform: rotateZ(0deg);
    transition: transform 1s linear;
}

.row {
    display: flex;
    margin: 0 auto;

    flex-wrap: wrap;
    width: $cell-size * 8 + 2px;
}

.cell {
    width: $cell-size;
    height: $cell-size;
    &.black_cell {
        background-color: $cell1;
    }
    &.white_cell {
        background-color: $cell2;
    }
    &.active_cell {
        cursor: pointer;
        background-color: $cell3;
    }
    &.red_color {
        background-color: $cell4;
    }
}

.checker {
    position: absolute;
    top: calc(var(--row) * $cell-size + 2.5px);
    left: calc(var(--column) * $cell-size + 2.5px);
    transform-style: preserve-3d;

    width: $cell-size - 5px;
    height: $cell-size - 5px;

    border-radius: 50%;

    &.white {
        background: $wchecker no-repeat center/cover;
    }

    &.black {
        background: $bchecker no-repeat center/cover;
    }

    &.queen {
        transform: rotateX(180deg);
        &.white {
            background: $wqueen no-repeat center/cover;
        }

        &.black {
            background: $bqueen no-repeat center/cover;
        }
    }

    &.hovered {
        box-shadow: 0 0 0 2.5px $hovchecker;
        &:hover {
            cursor: pointer;
        }
    }

    &.active_checker {
        box-shadow: 0 0 0 2.5px $actchecker;
    }
}

.top, .bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: $cell-size - 5px;
    height: $cell-size - 5px;
    border-radius: 50%;
}